<!DOCTYPE html>
<html lang="en">
<!-- 
         _.-"""-,
       .'  ..::. `\
      /  .::' `'` /     +-----------+
     / .::' .--.=;     /   I am a   |
     | ::' /  C ..\   /   squrrel!! |
     | :: |   \  _.) /--------------+
      \ ':|   /  \
       '-, \./ \)\)
          `-|   );/
     jgs     '--'-'
-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>School Projects</title>
	<style>
		body {
			background: black;
			color: white;
			font-family: monospace;
		}
		em {
			font-size: 0.7em;
		}
		a:any-link {
			color: inherit;
		}
	</style>
</head>
<body>
	<h1>School Projects</h1>
	<p>Hello! This is a website where I put all of my projects for school. Some of them are very random and some are very small, but here they are!</p>
	{% for grade in range(6, 12 + 1) %}
	<details>
		<summary>Grade {{grade}}</summary>
		<ul>
			{% set y = false %}
			{% for project in projects %}{% if project.grade == grade %}
			{% set y = true %}
			<li><a href="//{{project.src}}.school.colewilson.xyz">{{project.title}}</a> [{{project.class}}]
				<a href="{% if project.gh %}{{project.gh}}#readme{% else %}//github.com/cole-wilson/school/tree/master/src/{{project.src}}#readme{%endif%}"><em>view source</em></a>
			</li>
			{% endif %}{% endfor %}
			{% if not y %}
			Nothing for this grade yet!
			{% endif %}
		</ul>
	</details>{% endfor %}
	<details>
		<summary>Random Single Pages (notes/lists/resources/etc)</summary>
		<ul>
			{% for page in pages %}
			<li><a href="/pages/{{page.replace('.md', '')}}">{{page}}</a></li>
			{% endfor %}
		</ul>
	</details>
	<hr>&copy; 2021 Cole Wilson
</body>
</html>