{%- set cgrade = 9 -%}
<!DOCTYPE html>
<html lang="en">
<!-- 
         _.-"""-,
       .'  ..::. `\
      /  .::' `'` /     +-----------+
     / .::' .--.=;     /   I am a   |
     | ::' /  C ..\   /  squirrel!! |
     | :: |   \  _.) /--------------+
      \ ':|   /  \
       '-, \./ \)\)
          `-|   );/
     jgs     '--'-'
-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>School Projects</title>
	<base target="_blank">
	{{style}}
</head>
<body>
	<h1>School Projects</h1>
	<p>Hello! This is a website where I put all of my projects for school. Some of them are very random and some are very small, but here they are!</p>
	{% for grade in range(6, 12 + 1) %}
	<details{%if grade==cgrade %} open{%endif%}>
		<summary>Grade {{grade}}</summary>
		<ul>
			{% for project in projects %}{% if project.grade == grade %}
			<li><h3><a href="//{{project.src}}.school.colewilson.xyz">{{project.title}}</a></h3> [{{project.class}}]
				<a href="{% if project.gh %}{{project.gh}}#readme{% else %}//github.com/cole-wilson/school/tree/master/src/{{project.src}}#readme{%endif%}"><em>view source</em></a>
			</li>
			{% endif %}{% endfor %}
		</ul>
	</details>{% endfor %}
	<details open>
		<summary>Random Single Pages (notes/lists/resources/etc)</summary>
		<ul>
			{% for page in pages %}
			<li><h3><a href="/pages/{{page.replace('.md', '')}}">{{page}}</a></h3></li>
			{% endfor %}
		</ul>
	</details>
	<hr>&copy; 2021 Cole Wilson
</body>
</html>
