# appended:

{% for project in projects %}
[[redirects]]
from = "https://{{ project.src }}.school.colewilson.xyz/*"
to = "https://school.colewilson.xyz/src/{{ project.src }}/:splat"
status = 302
force = true
{% endfor %}